//Фоновые цвета
$--color-background: rgba(128, 128, 128, 0.65);
$--color-verygray: #696969;
$--color-apsidgray: #778899;
$--color-black: rgb(#000000, 0.9);
$--color-headerbg: rgb(#000000, 0.5);
$--color-white: #d0d0d0;

//Текст
$--color-text: #006A72;

//Цвета кнопок
$--color-mainbutton: #a0522d;
$--color-defbutton: #ffa07a;
$--color-warningbutton: #b22222;
$--color-warningbuttonfdef: #f08080;
$--color-main: #fe1332;
$--color-maindef: #719298;

//Цвета тостов
$--color-success: #66cdaa;
$--color-warning: #856d61;
$--color-huy: #693b3b;