@font-face {
  font-family: "Faceless";
  src: url("@/assets/fonts/Faceless-K7wel.ttf") format('truetype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "VTKS ROCK GARAGE BAND";
  src: url("@/assets/fonts/12659-fontps.ttf") format('truetype');
  font-weight: 200;
  font-display: swap;
}

//С кириллицей:
@font-face {
  font-family: "Mrs Onion Monsters";
  src: url("@/assets/fonts/16-font.otf") format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "KistyCC";
  src: url("@/assets/fonts/55-font.otf") format('opentype');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "MornningBreeze";
  src: url("@/assets/fonts/MorningBreeze.otf") format('opentype')
}

@font-face {
  font-family: "MorningBreeze-Bold";
  src: url("@/assets/fonts/MorningBreeze-Bold.otf") format('opentype')
}

@font-face {
  font-family: "MorningBreeze-Italic";
  src: url("@/assets/fonts/MorningBreeze-Italic.otf") format('opentype')
}

@font-face {
  font-family: "MorningBreeze-Light";
  src: url("@/assets/fonts/MorningBreeze-Light.otf") format('opentype')
}